<div class="row">
    <div class="col-md-12">
        <h2 class="company-name">{{company.legalName}}</h2>
        <p class="company-address">Address: <span class="company-address-addr">{{company.address}}</span></p>
        <p class="company-revenue">Revenue: <span class="company-revenue-amount">{{company.revenue}}</span></p>
        <p class="company-employees">Employees: <span class="company-employees-count">{{company.employees}}</span></p>
        <p class="company-industry">Industry: <span class="company-industry-name">{{company.industry}}</span></p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <a ng-click="toggleBondsState()" class="btn btn-default btn-top-5-bonds">View bonds</a>
    </div>
</div>
<section ui-view></section>