<h2 class="company-name">Name: {{company.legalName}}</h2>
<p class="company-address">Address: <span class="company-address-addr">{{company.address}}</span></p>
<p class="company-revenue">Revenue: <span class="company-revenue-amount">{{company.revenue}}</span></p>
<p class="company-employees">Employees: <span class="company-employees-count">{{company.employees}}</span></p>
<p class="company-industry">Industry: <span class="company-industry-name">{{company.industry}}</span></p>
<h3>Top 5 bonds</h3>
