<div class="jumbotron">
  <h1>Welcome To The CapSo Frontend Developer Test</h1>
  <p class="lead">
    Instructions are Below. Guoxian if you want to write this.
  </p>
</div>

<div class="row marketing">
  <h4>Introduction</h4>
  <p>Description goes here.</p>
  <ul>
    <li>AngularJS - <a href="https://angularjs.org/">https://angularjs.org/</a></li>
    <li>Stateful UI Routing - <a href="https://github.com/angular-ui/ui-router/wiki">https://github.com/angular-ui/ui-router/wiki</a></li>
    <li>Sass SCSS - <a href="http://sass-lang.com/">http://sass-lang.com/</a></li>
    <li>Bonds - <a href="http://www.investopedia.com/university/bonds/">http://www.investopedia.com/university/bonds/</a></li>
  </ul>

  <h4>Requirements</h4>
  <ul>
    <li><b>MUST</b> display a list of the companies in the json dataset.</li>
    <li><b>MUST</b> provide a view for each company, displaying their basic info and details on their relevant bonds.</li>
    <li><b>SHOULD</b> display the history of the price of each bond.</li>
    <li><b>COULD</b> Show a list of the highest FIVE moving Bond Prices, this should involve the matching company name and the amount up or down that the bond has moved.</li>
  </ul>

  <h4>Json File Description</h4>
    description of the data structure of the json files should go here. files are located in app/json/ and are called companies.json and bonds.json
</div>
