<div class="jumbotron">
  <h1>Welcome to CapSo!</h1>
  <p class="lead">
     Frontend developer test
  </p>
</div>

<div class="row marketing">
  <h4>Introduction</h4>
  <p>This task is designed to resemble our frontend development environment and get you working on some realistic dummy data.</p>

  <p>We are interested in the price history of <a href="http://www.investopedia.com/university/bonds/">company bonds</a>. There is some raw data available from two API endpoints, which for this task are provided as files holding JSON data. A brief description of these files is provided after the requirements are defined. Please feel free to contact us if any aspects of the requirements are unclear.

  <h4>Requirements</h4>
  The system...
  <ul>
	  <li><b>MUST</b> display a list of the companies in the <tt>companies.json</tt> dataset.</li>
	  <li><b>MUST</b> provide a view for each company, displaying their basic info and details on their relevant bonds.</li>
	  <li><b>SHOULD</b> display the history of the price of each bond.</li>
	  <li><b>COULD</b> show a list of the highest five moving bond prices. This means the difference between the opening and closing bond price for a particular time period.</li>
  </ul>

  <h4>JSON file description</h4>
    Two files are provided representing the output from two API services:
	<ul>
		<li>app/json/companies.json</li>
		<li>app/json/bonds.json</li>


  <h4>Possibly helpful links</h4>
  <ul>
    <li>AngularJS - <a href="https://angularjs.org/">https://angularjs.org/</a></li>
    <li>Stateful UI Routing - <a href="https://github.com/angular-ui/ui-router/wiki">https://github.com/angular-ui/ui-router/wiki</a></li>
    <li>Sass SCSS - <a href="http://sass-lang.com/">http://sass-lang.com/</a></li>
    <li>Bonds - <a href="http://www.investopedia.com/university/bonds/">http://www.investopedia.com/university/bonds/</a></li>
  </ul>
</div>
